.row
  .jumbotron
    .row
      .col-md-4.col-md-offset-4#random3
        %h2.text-center='What would you like to do?'
    .row
      .col-md-5.col-md-offset-1#random2
        %h3.text-center='Check latest activities!'
      =link_to timelines_path do
        .col-md-5#random2
          %h3.text-center='Manage timelines'
    .container
      .row
        .col-md-6#random2
          %h3.text-center='Manage Account'
        .col-md-6#random2
          %h3.text-center='Some Other Stuff'
      .row
        .col-md-10.col-md-offset-1#random2
          %p.text-center= 'Not SUre IF this will be here! Not SUre IF this will be here! Not SUre IF this will be here! Not SUre IF this will be here! Not SUre IF this will be here! Not SUre IF this will be here!'