.navbar.navbar-inverse
  .container-fluid
    .nav
      .navbar-brand
        %a{:href => 'root_path'}
          TManager
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li
            .btn.btn-default.dropdown-toggle{ 'role' => 'button', 'data-toggle' => 'dropdown'}
              Account
              %b.caret
            %ul.dropdown-menu{ 'role' => 'menu' }
              %li
                %a{:href => current_user}
                  Profile
                %a{:href => edit_user_path(current_user)}
                  Settings
                .divider
                %a{:href => logout_path}
                  Log Out
          %li
            .btn.btn-default.dropdown-toggle{'role' => 'button', 'data-toggle' => 'dropdown'}
              Company
              %b.caret
            %ul.dropdown-menu{ 'role' => 'menu' }
              %li
                %a{:href => '#'}
                  Groups
                %a{:href => '#'}
                  Members
        - else
          %li
            .btn.btn-default
              =link_to login_path do
                ='Log In'
            .btn.btn-default
              =link_to new_user_path do
                ='Register'